@using TEAMT2P.Helpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="Polmo - One Page HTML5 Template By Jewel Theme">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Include Bootstrap Css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/_Layout/")assets/css/bootstrap.min.css">
    <!-- Include Bootstrap Min Css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/_Layout/")assets/css/bootstrap-theme.min.css">
    <!-- Include Animate Min Css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/_Layout/")assets/css/animate.min.css">
    <!-- Include Fontawesome Min Css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/_Layout/")assets/css/font-awesome.min.css">
    <!-- Include Magnific PopUp Css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/_Layout/")assets/css/magnific-popup.css">
    <!-- bxSlider CSS file -->
    <link href="@Url.Content("~/Content/_Layout/")assets/css/jquery.bxslider.css" rel="stylesheet" />
    <!-- Include Style Css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/_Layout/")assets/css/style.css">
    <!-- Include Responsive Css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/_Layout/")assets/css/responsive.min.css">
    <!-- Include Modernizer Js -->
    <script src="@Url.Content("~/Content/_Layout/")assets/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>

</head>
<body>
    <!-- Header Section -->
    <header id="masthead" class="masthead navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="@Url.Content("~/Content/_Layout/")images/logo.png" alt="Site Logo"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <nav id="main-menu" class="collapse navbar-collapse pull-right">
                <ul class="nav navbar-nav">
@if (CurrentContext.IsLogged() == false) {
                    <li class="active"><a href="#main-slider">Trang Chủ</a></li>
                    <li><a href="#contact">Liên Hệ</a></li>
                    <li><a href="@Url.Action("Login","Account")">Đăng Nhập</a></li>
                    <li><a>Đăng Ký</a></li>
}
else
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="separator">
            @CurrentContext.GetCurUser().f_Username <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" class="menu-item">Personal Information</a></li>
            <li class="divider"></li>
            <li><a id="logoutLink" href="javascript:;" class="menu-item">Exit</a></li>

        </ul>
    </li>
}
                </ul>
            </nav><!-- /.navbar-collapse -->
        </div><!-- /.container -->
        <form id="frmLogout" method="post" action="@Url.Action("Logout","Account")"></form>
    </header><!-- /#masthead -->
    <!-- Header Section -->

    <!-- Main Slider -->
    <section id="main-slider" class="main-slider text-center">
        <div class="head-overlay">
            <ul class="bxslider">
                <li>
                    <div class="head-overlay">
                        <img src="@Url.Content("~/Content/_Layout/")images/slider/1.jpg" />
                    </div><!-- /.head-overlay -->
                    <div class="slider-text">
                        <div class="slide-inner">
                            <h2 class="slider-title" data-animation="wow animated bounceInDown">Chào mừng tới <span>T2P ONLINE</span></h2>
                            <p class="slide-description">Hệ thống đấu giá trực tuyến hàng đầu Việt Nam.</p>

                        </div><!-- /.slide-inner -->
                    </div><!-- /.slider-text -->
                </li>
                <li>
                    <div class="head-overlay">
                        <img src="@Url.Content("~/Content/_Layout/")images/slider/3.jpg" />
                    </div><!-- /.head-overlay -->
                    <div class="slider-text">
                        <div class="slide-inner">
                            <h2 class="slider-title">Thuộc quyền sở hữu của <span>T2P</span> Team</h2>
                            <p class="slide-description">14CK2 - Trường Đại Học Khoa Học Tự Nhiên TP.HCM - 2017</p>

                        </div><!-- /.slide-inner -->
                    </div><!-- /.slider-text -->
                </li>
            </ul>
        </div><!-- /.head-overlay -->
    </section><!-- /#main-slider -->
    <!-- Main Slider -->

    <div>
        @RenderBody()
    </div>

    <!-- Contact Section -->
    <section id="contact" class="contact">
        <div class="contact-inner">
            <div id="google-map" class="google-map">
                <div id="googleMaps" class="google-map-container"></div>
            </div><!-- /#google-map -->
            <div class="form-area text-center wow animated fadeInRight" data-wow-delay=".75s">
                <h2 class="section-title"><span>Contact</span> With Us</h2><!-- /.section-title -->
                <form action="email.php" method="post" id="contactform" class="contactform">
                    <input id="name" class="form-control" name="name" type="text" placeholder="Name" value="" required>
                    <input id="email" class="form-control pull-right" name="email" type="email" placeholder="Email" value="" required>
                    <textarea id="message" class="form-control" name="message" placeholder="Your Message" rows="5" required></textarea>
                    <button name="submit" class="btn submit-btn" type="submit" id="submit">Send Message</button>
                </form><!-- /#contactform -->
            </div><!-- /.form-area -->
        </div><!-- /.contact-inner -->
    </section>
    <!-- Contact Section -->

    <div class="footer-bottom">
        <div class="container">
            <div class="footer-menu pull-left">
                <div class="widget widget_menu">
                    <nav class="widget-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div><!-- /.widget -->
            </div><!-- /.footer-menu -->
            <div class="copy-right pull-right"></div>
        </div><!-- /.container -->
    </div><!-- /.footer-bottom -->


    <!-- Include jQuery Js -->
    <script src="@Url.Content("~/Content/_Layout/")//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include jQuery Js -->
    <script>window.jQuery || document.write('<script src="@Url.Content("~/Content/_Layout/")assets/js/jquery-1.11.2.min.js"><\/script>')</script>
    <!-- Include WOW Min Js -->
    <script src="@Url.Content("~/Content/_Layout/")assets/js/wow.min.js"></script>
    <!-- Google Maps Script -->
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <!-- Gmap3.js For Static Maps -->
    <script src="@Url.Content("~/Content/_Layout/")assets/js/gmap3.js"></script>
    <!-- Include Waypoint Js -->
    <script src="@Url.Content("~/Content/_Layout/")//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <!-- Include Ajax MailChimp Js -->
    <script src="@Url.Content("~/Content/_Layout/")assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Include Custom Js </-->
    <script src="@Url.Content("~/Content/_Layout/")assets/js/custom.min.js"></script>

    <script>

    $(".bxslider").bxSlider({auto:!0,preloadImages:"all",mode:"horizontal",captions:!1,controls:!0,pause:4000,speed:1200,onSliderLoad:function(){$(".bxslider>li .slide-inner").eq(1).addClass("active-slide"),$(".slide-inner.active-slide .slider-title").addClass("wow animated bounceInDown"),$(".slide-inner.active-slide .slide-description").addClass("wow animated bounceInRight"),$(".slide-inner.active-slide .btn").addClass("wow animated zoomInUp")},onSlideAfter:function(e,i,n){console.log(n),$(".active-slide").removeClass("active-slide"),$(".bxslider>li .slide-inner").eq(n+1).addClass("active-slide"),$(".slide-inner.active-slide").addClass("wow animated bounceInRight")},onSlideBefore:function(){$(".slide-inner.active-slide").removeClass("wow animated bounceInRight"),$(".one.slide-inner.active-slide").removeAttr("style")}}),$(document).ready(function(){function e(){return"ontouchstart"in document.documentElement}function i(){if("undefined"!=typeof google){var i={center:[-37.817331,144.955652],zoom:15,mapTypeControl:!0,mapTypeControlOptions:{style:google.maps.MapTypeControlStyle.DROPDOWN_MENU},navigationControl:!0,scrollwheel:!1,streetViewControl:!0};e()&&(i.draggable=!1),$("#googleMaps").gmap3({map:{options:i},marker:{latLng:[23.709921,90.407143],options:{icon:"images/mapicon.png"}}})}}$("#masthead #main-menu").onePageNav(),i()}),$("#contactform").on("submit",function(e){e.preventDefault(),$this=$(this),$.ajax({type:"POST",url:$this.attr("action"),data:$this.serialize(),success:function(){alert("Message Sent Successfully")}})});

    </script>
    <script type="text/javascript">
    $('#logoutLink').on('click', function () {
        $('#frmLogout').submit();
    });
    </script>



</body>
</html>
